@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Trello Utilities";
}

@section Head {
    <style>
        pre {
            overflow-x: hidden;
            white-space: pre-wrap;
        }
        .blockquote {
            font-size: 1em;
        }
    </style>
}

    <div>

        <div class="row m-t-2" ng-cloak>
            <div class="col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#whatis">
                                    What is the "Trello Explorer"?
                                </a>
                            </h4>
                        </div>
                        <div id="whatis" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                Uses the Trello API to show all your Boards, Lists, Labels and Cards and an easy way to view the JSON for each.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#feedback">
                                    Have feedback, questions or bug reports?
                                </a>
                            </h4>
                        </div>
                        <div id="feedback" class="panel-collapse collapse in" role="tabpanel">
                            <div class="panel-body">
                                Please let us know!  You can hit us up on <a href="http://twitter.com/happyporch">Twitter @@HappyPorch</a>.
                                <p>
                                    Don't be shy, we'd love to hear from you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#share">
                                    Please share!
                                </a>
                            </h4>
                        </div>
                        <div id="share" class="panel-collapse collapse" role="tabpanel">
                            <div class="panel-body">
                                We hope you like this and find it useful enough to share!

                                @Html.Partial("ShareIcons")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


@section BodyScripts
{
}
