@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Trello Utilities";
}

@section Head {
    <style>
        pre {
            overflow-x: hidden;
            white-space: pre-wrap;
        }
        .blockquote {
            font-size: 1em;
        }
    </style>
}

    <div>

        <div class="row m-t-2" ng-cloak>
            <div class="col-sm-12">
                <h4>Hello</h4>
            </div>
        </div>

    </div>


@section BodyScripts
{
}
