@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Trello Utilities";
}

@section Head {
    <style>
        pre {
            overflow-x: hidden;
            white-space: pre-wrap;
        }
        .blockquote {
            font-size: 1em;
        }
    </style>
}

    <div>

        <div class="row m-t-2" ng-cloak>
            <div class="col-sm-12">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is the "Trello Explorer"?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Uses the Trello API to show all your Boards, Lists, Labels and Cards and an easy way to view the JSON for each.
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="share">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#share" aria-expanded="true" aria-controls="collapseOne">
                                    Please share!
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="share">
                            <div class="panel-body">
                                We hope you like this and find it useful enough to share!

                                @Html.Partial("ShareIcons")

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


@section BodyScripts
{
}
