<!-- I got these buttons from simplesharebuttons.com -->
<p class="share-buttons">
    <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=http://trelloapiexplorer.com" target="_blank"><img src="/imgs/share_icons/facebook.png" alt="Facebook" /></a>

    <!-- LinkedIn -->
    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://trelloapiexplorer.com" target="_blank"><img src="/imgs/share_icons/linkedin.png" alt="LinkedIn" /></a>

    <!-- Twitter -->
    <a href="https://twitter.com/share?url=http://trelloapiexplorer.com&amp;text=Trello%20API%20Explorer&amp;hashtags=trello&amp;" target="_blank"><img src="/imgs/share_icons/twitter.png" alt="Twitter" /></a>


</p>
